In [1]:
import numpy as np
import pandas as pd
import scipy.stats as stats
from scipy.stats import chi2_contingency
from scipy.stats import chi2

In [3]:
df= pd.read_csv('BuyerRatio.csv')
df

  Observed Values  East  West  North  South
0           Males    50   142    131     70
1         Females   435  1523   1356    750

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Observed Values  2 non-null      object
 1   East             2 non-null      int64
 2   West             2 non-null      int64
 3   North            2 non-null      int64
 4   South            2 non-null      int64
dtypes: int64(4), object(1)
memory usage: 208.0+ bytes

In [5]:
# Creating a 2d array to create contingency table

contingency = [[50,142,131,70],[435,1523,1356,750]]

In [6]:
# Chi2-test

chi2, p_value, dof, expected = chi2_contingency(contingency)

In [7]:
#print retults

print('\nChi-Square statistic: {:.2f}'.format(chi2))
print('P-value: {:.4f}'.format(p_value))
print('Degrees of Freedom:{}'.format(dof))
print('Expected Frequencies: \n{}'.format(expected))

Chi-Square statistic: 1.60
P-value: 0.6603
Degrees of Freedom:3
Expected Frequencies:
[[  42.76531299  146.81287862  131.11756787   72.30424052]
 [ 442.23468701 1518.18712138 1355.88243213  747.69575948]]

In [8]:
if p_value<0.05:
    print("Reject null hypothesis, Accept Alternative hypothesis")
else:
    print("Accept null hypothesis, Reject Alternative hypothesis")

Accept null hypothesis, Reject Alternative hypothesis