In [1]:
import numpy as np
import pandas as pd
import scipy.stats as stats
from scipy.stats import chi2_contingency
from scipy.stats import chi2

In [2]:
df= pd.read_csv('Costomer+OrderForm.csv')
df

    Phillippines   Indonesia       Malta       India
0     Error Free  Error Free   Defective  Error Free
1     Error Free  Error Free  Error Free   Defective
2     Error Free   Defective   Defective  Error Free
3     Error Free  Error Free  Error Free  Error Free
4     Error Free  Error Free   Defective  Error Free
..           ...         ...         ...         ...
295   Error Free  Error Free  Error Free  Error Free
296   Error Free  Error Free  Error Free  Error Free
297   Error Free  Error Free   Defective  Error Free
298   Error Free  Error Free  Error Free  Error Free
299   Error Free   Defective   Defective  Error Free

[300 rows x 4 columns]

In [3]:
df.sample(3)

    Phillippines   Indonesia       Malta       India
291    Defective  Error Free  Error Free  Error Free
18    Error Free  Error Free  Error Free  Error Free
36    Error Free  Error Free  Error Free  Error Free

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Phillippines  300 non-null    object
 1   Indonesia     300 non-null    object
 2   Malta         300 non-null    object
 3   India         300 non-null    object
dtypes: object(4)
memory usage: 9.5+ KB

In [6]:
print(df['India'].value_counts())
print(df['Phillippines'].value_counts())
print(df['Indonesia'].value_counts())
print(df['Malta'].value_counts())

Error Free    280
Defective      20
Name: India, dtype: int64
Error Free    271
Defective      29
Name: Phillippines, dtype: int64
Error Free    267
Defective      33
Name: Indonesia, dtype: int64
Error Free    269
Defective      31
Name: Malta, dtype: int64

In [7]:
# Creating a 2d array to create contingency table

contingency = [[271,267,269,280],[29,33,31,20]]

In [8]:
# Chi2-test

chi2, p_value, dof, expected = chi2_contingency(contingency)

In [9]:
#print retults

print('\nChi-Square statistic: {:.2f}'.format(chi2))
print('P-value: {:.4f}'.format(p_value))
print('Degrees of Freedom:{}'.format(dof))
print('Expected Frequencies: \n{}'.format(expected))

Chi-Square statistic: 3.86
P-value: 0.2771
Degrees of Freedom:3
Expected Frequencies:
[[271.75 271.75 271.75 271.75]
 [ 28.25  28.25  28.25  28.25]]

In [10]:
if p_value<0.05:
    print("Reject null hypothesis, Accept Alternative hypothesis")
else:
    print("Accept null hypothesis, Reject Alternative hypothesis")

Accept null hypothesis, Reject Alternative hypothesis