In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv("Cutlets.csv")
df.shape

(35, 2)

In [3]:
df.head()

   Unit A  Unit B
0  6.8090  6.7703
1  6.4376  7.5093
2  6.9157  6.7300
3  7.3012  6.7878
4  7.4488  7.1522

In [5]:
print(df["Unit A"].mean())
df["Unit B"].mean()

7.0190914285714285

6.964297142857142

In [6]:
# check for normality using Shapiro Wilk Test

from scipy.stats import shapiro

shapiro_unit_a = shapiro(df["Unit A"])
#ShapiroResult(statistic=0.9649459719657898, pvalue=0.31998491287231445)
shapiro_unit_b = shapiro(df["Unit B"])
#ShapiroResult(statistic=0.9727305769920349, pvalue=0.5225146412849426)

#Since the pvalue is greater than 0.05 we can imply that sample follows normality

In [7]:
# check for homoscedasticity( levene test)

from scipy.stats import levene

levene_test = levene(df["Unit A"],df["Unit B"])

#LeveneResult(statistic=0.6650897638632386, pvalue=0.4176162212502553)

#Since the pvalue is greater than 0.05 we can imply that sample follows homoscedasticity

In [8]:
# performing 2 sample t-test

from scipy import stats

t_stat, p_val  = stats.ttest_ind( df["Unit A"] , df["Unit B"] )

In [9]:
print("P-value is ",(p_val/2).round(4))

P-value is  0.2361

In [10]:
if p_val<0.05:
    print("Reject null hypothesis, Accept Alternative hypothesis")
else:
    print("Accept null hypothesis, Reject Alternative hypothesis")

Accept null hypothesis, Reject Alternative hypothesis