In [1]:
import numpy as np
import pandas as pd
import scipy.stats as stats

In [2]:
df= pd.read_csv('LabTAT.csv')

In [3]:
df.sample(3)

     Laboratory 1  Laboratory 2  Laboratory 3  Laboratory 4
30         181.36        168.01        193.04        184.64
38         184.42        187.57        181.87        176.67
116        176.08        183.98        215.25        177.64

In [4]:
df.shape

(120, 4)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120 entries, 0 to 119
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Laboratory 1  120 non-null    float64
 1   Laboratory 2  120 non-null    float64
 2   Laboratory 3  120 non-null    float64
 3   Laboratory 4  120 non-null    float64
dtypes: float64(4)
memory usage: 3.9 KB

In [6]:
#Splitting the columns for test

lab_1 = df['Laboratory 1']
lab_2 = df['Laboratory 2']
lab_3 = df['Laboratory 3']
lab_4 = df['Laboratory 4']

In [7]:
# test of normality (Shapiro Test)
from scipy.stats import shapiro

shapiro_lab_1 = shapiro(lab_1)
shapiro_lab_2 = shapiro(lab_2)
shapiro_lab_3 = shapiro(lab_3)
shapiro_lab_4 = shapiro(lab_4)

# all the colums satisfy the test and follow normality

In [8]:
# check for homoscedasticity( levene test)

from scipy.stats import levene

levene_test = levene(lab_1,lab_2,lab_3,lab_4)

#LeveneResult(statistic=2.599642500418024, pvalue=0.05161343808309816),it just passes the pvalue, so we can consider it

In [9]:
# perform one-way anova

pvalue = stats.f_oneway(lab_1,lab_2,lab_3,lab_4)
#F_onewayResult(statistic=118.70421654401437, pvalue=2.1156708949992414e-57)

In [10]:
print(pvalue[1])
p_val=pvalue[1]
print("P-value is ",(p_val/2).round(4))

2.1156708949992414e-57
P-value is  0.0

In [11]:
if p_val<0.05:
    print("Reject null hypothesis, Accept Alternative hypothesis")
else:
    print("Accept null hypothesis, Reject Alternative hypothesis")
    
    
# There is a significant difference in the average TAT between the labs

Reject null hypothesis, Accept Alternative hypothesis